{{define "yield"}}
<div class="row">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Sign Up Now!</h3>
      </div>
      <div class="panel-body">
        {{template "signupForm"}}
      </div>
    </div>
  </div>
</div>
{{end}}

{{define "signupForm"}}
<form action="/signup" method="POST">
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control" id="name" placeholder="Your full name">
    </div>
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
  </div>
    <button type="submit" class="btn btn-primary">Sign Up</button>
</form>
{{end}}